body

{
	font-family: "Open Sans", sans serif;
	width: 900px;
	margin: 0 auto;
	background-color: #2f3848;
	
}
#first
{
	width: 100%;
}
#conteneur
{
	
}
.element
{
	border-radius: 3px;
	text-align: center;
	border-bottom: 2px solid #00ccff;
	margin: 0px 100px 0px 25px;
	color: white;
	width: 75%;
	background-color: #f05768;
	padding: 0px 100px 0px 100px;
}
.logo{
	width: 100%;
	margin-top: 15px;
}
.logo img{
	width: 3%;
	float: right;

}
h2
{
	color: #00ccff;
	font-style: italic;

}

.coucou
{ 
	color: white;
	font-family: OpenSans;


}


#nav
{

}
#c
{
	text-align: center;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	color: #00ccff;
	margin-top: 100px;
}
#art
{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 25%;
	float: right;
	background-color: #004488;
	color: yellowgreen;
	padding: 20px 20px 20px 20px;
	font-size: 15px;
}
#abs
{
	
	background-color: #f05768;
	color: white;
	position: absolute;
	width: 25%;
	margin: 0;
	text-align: center;
	font-size: 10px;
}

#nav
{
	list-style-type: none;
	display: inline;
	color: blue;
}
#nav li
{     
  display: inline-flex;     
  font-size: 20px;     
  color: green;

}
 #nav a:link
 {     
	text-decoration: none;    
 padding: 30px 1px 4px 10px; 
}  
 #nav a:visited
 {     
  color: blue; 
}
#About, #Blog, #Contact
{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
#galerie
{
	width: 70%;
	font-size: 0;
}
#galerie img{
	width: calc(25% - 10px);
	margin: 0 10px 10px 0;
}
#galerie img:first-child{
	width: calc(50% - 10px);
	float: left;
}
#galerie img:ntchild{
	border: 2px solid red;
}
.tof{

}
.titre{
	color: #00ccff;
}
 
 
a
{
	color: yellowgreen;

}
.link
{
	color: yellowgreen;
	border-bottom: 2px solid #00ccff;
	padding-bottom: 15px;
	width: 100%;
}
.linke
{
	border-top: 2px solid #00ccff;
	width: 95%;
}
